<mat-toolbar class="toolbar-container">
  <span>REDDIT<sub>Angular2</sub></span>
  <!--<div class="toolbar-user">-->
    <!--<button mat-icon-button>-->
      <!--<mat-icon>keyboard_arrow_up</mat-icon>-->
    <!--</button>-->
    <!--<button mat-icon-button>-->
      <!--<mat-icon>keyboard_arrow_down</mat-icon>-->
    <!--</button>-->
    <!--<button mat-icon-button (click)="refresh()">-->
      <!--<mat-icon>refresh</mat-icon>-->
    <!--</button>-->
  <!--</div>-->
</mat-toolbar>
<!--<div class="content">-->
  <ng-content class="page-content"></ng-content>
<!--</div>-->
