mat-toolbar button, mat-toolbar span {
  margin-right: 0.5em;
}

sub {
  font-size: x-small;
}

.toolbar-container {
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 0.5em;
  background-color: lightblue;
}

.content {
  top: 45px !important;
}
