mat-toolbar button, mat-toolbar span {
  margin-right: 0.5em;
}

sub {
  font-size: x-small;
}

.toolbar-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgb(84, 116, 151);
}
