<app-home>
  <div *ngFor="let reddit of subReddits;let indx=index" class="card-style">
    <mat-card class="example-card" *ngIf="!reddit.hidden">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{reddit.title}}</mat-card-title>
        <mat-card-subtitle class="subtitle-style">{{reddit.created_utc|date}}</mat-card-subtitle>
        <div class="close-button">
          <button mat-icon-button (click)="hideSubreddit(indx)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <img *ngIf="reddit.preview"
           class="img-style"
           mat-card-image src={{reddit.preview?.images[0].source.url}}
           alt="subreddit image">
      <!--<div class="date-style"></div>-->
      <!--<mat-card-content>-->
      <!--{{reddit.selftext}}-->
      <!--</mat-card-content>-->
      <mat-card-actions class="action-button-style">
        <button mat-icon-button (click)="subredditOpinion('thumb_up',indx)">
          <mat-icon class="mat-light" id="thumb_up{{indx}}">thumb_up</mat-icon>
        </button>
        <span>{{reddit.ups}}</span>
        <button mat-icon-button (click)="subredditOpinion('thumb_down',indx)">
          <mat-icon class="mat-light" id="thumb_down{{indx}}">thumb_down</mat-icon>
        </button>
        <span>{{reddit.downs}}</span>
      </mat-card-actions>
    </mat-card>

    <button mat-icon-button class="like-button-position" (click)="listOpinions('like')">
      <mat-icon>thumb_up</mat-icon>
    </button>

    <button mat-icon-button class="dislike-button-position" (click)="listOpinions('dislike')">
      <mat-icon>thumb_down</mat-icon>
    </button>

    <button mat-icon-button class="refresh-button-position" (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button>

  </div>
</app-home>
