.card-style {
  padding-top: 10px;
}

.example-card {
  max-width: 30%;
  margin: 0 auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.close-button {
  flex: 1 0 auto;
  text-align: right;
}

.subtitle-style {
  font-size: x-small;
}

.img-style {
  /*max-height:50%;*/
  /*max-width: 50%;*/
  /*margin:0 auto;*/
}

.mat-light {
  border: #0d0d0d;
  color: rgba(255, 255, 255, 1);
}

mat-card {
  top: 45px;
}

.action-button-style {
  background-color: whitesmoke;
}

.like-button-position {
  background-color: whitesmoke;
  position: fixed;
  bottom: 9vh;
  right: 5vw;
}

.dislike-button-position {
  background-color: whitesmoke;
  position: fixed;
  bottom: 9vh;
  right: 2vw;
}

.refresh-button-position {
  background-color: whitesmoke;
  position: fixed;
  bottom: 3vh;
  right: 3vw;
}

.list-opinion {
  background-color: gray;
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
