#card-container {
  position: relative;
  top: 65px;
  padding-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subreddit-card {
  width: 30%;
  margin: 0.5em;
  flex: 0 0 30%;
}

.thumbnail-image {
  background-size: cover;
}

.close-button {
  flex: 1 0 auto;
  text-align: right;
}

.subtitle-style {
  font-size: x-small;
}

.mat-light {
  color: lightgrey;
  /*border: #0d0d0d;*/
  /*color: rgba(255, 255, 255, 1);*/
}

/*mat-card {*/
  /*top: 45px;*/
/*}*/

/*.action-button-style {*/
  /*background-color: lightblue;*/
/*}*/

.like-button-position {
  position: fixed;
  top: 20px;
  right: 10vw;
  z-index: 1000;
}

.dislike-button-position {
  position: fixed;
  top: 20px;
  right: 6vw;
  z-index: 1000;
}

.refresh-button-position {
  /* background-color: indigo; */
  position: fixed;
  top: 20px;
  right: 2vw;
  z-index: 1000;
}

.list-opinion {
  /*background-color: darkcyan;*/
}

/*.dont-break-out {*/
  /*overflow-wrap: break-word;*/
  /*word-wrap: break-word;*/
  /*-ms-word-break: break-all;*/
  /*-ms-hyphens: auto;*/
  /*-moz-hyphens: auto;*/
  /*-webkit-hyphens: auto;*/
  /*hyphens: auto;*/

/*}*/

/*mat-card-content {*/
  /*padding-bottom: 10px;*/
/*}*/

mat-card-header {
  height: 100px;
}

mat-card div:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
}

mat-card div:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 250px;
}
