#card-container {
  position: relative;
  top: 65px;
  padding-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subreddit-card {
  width: 30%;
  margin: 0.5em;
  flex: 0 0 30%;
}

.thumbnail-image {
  background-size: cover;
}

.close-button {
  flex: 1 0 auto;
  text-align: right;
}

.subtitle-style {
  font-size: x-small;
}

.mat-light {
  color: lightgrey;
}

/*.action-button-style {*/
  /*background-color: rgb(84, 116, 151);*/
/*}*/

.like-button-position {
  position: fixed;
  top: 20px;
  right: 10vw;
  z-index: 1000;
}

.dislike-button-position {
  position: fixed;
  top: 20px;
  right: 6vw;
  z-index: 1000;
}

.refresh-button-position {
  position: fixed;
  top: 20px;
  right: 2vw;
  z-index: 1000;
}

mat-card-header {
  height: 100px;
}

mat-card div:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
}

mat-card div:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 250px;
}
